apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  type: {{ service_type }}
  selector:
    app: {{ app_name }}
  ports:
    - name: http
      port: {{ service_port }}
      targetPort: {{ target_port }}
      protocol: TCP
